@page "/departmentpage"

<h3> List Department </h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Departments)
        {
            <tr>
            <td>@dept.DepartmentId</td>
            <td>@dept.DepartmentName</td>
            <td><a href = "@($"departmentdetail/{dept.DepartmentId}")" class="btn btn-warning">Lihat</a></td>
            </tr>
        }
    </tbody>
</table>